<div class="container">
  <div class="row">
    <h3 class="float-right">Timer: 10:12:01</h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <mat-card class="mat-elevation-z12"> 
      <h3>Queston 1:</h3>
      <p>Which country has the honour of been the first in the Parade of Nations during opening ceremony of Olympics?</p>
      <br>
      <mat-radio-group class="radio-group">
          <mat-radio-button class="radio-button" value="0">Host Country</mat-radio-button>
          <mat-radio-button class="radio-button" value="1">Greece</mat-radio-button>
          <mat-radio-button class="radio-button" value="2">Country who has maximum golds in pervious year</mat-radio-button>
          <mat-radio-button class="radio-button" value="3">Countries come out in alphabetical order</mat-radio-button>
      </mat-radio-group>
      <br>
      <div class="row">
          <button mat-raised-button type=submit color='primary' style="float: right">Sumit & Next</button>
      </div>
    </mat-card>
  </div>
</div>