<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3 class="white-font">Quiz rules are as follows:</h3>
      <ul  class="white-font">
          <li>Every team will be asked to identify a personality.</li>
          <li>Three hints will be provided for every question.</li>
          <li>20 marks will be awarded for the correct answer after 1st.</li>
          <li>15 marks will be awarded for the correct answer after 2nd.</li>
          <li>15 marks will be awarded for the correct answer after 2nd.</li>
          <li>15 marks will be awarded for the correct answer after 2nd.</li>
          <li>10 marks will be awarded for the correct answer after 3rd.</li>
          <li>60 seconds will be given for each question.</li>
        </ul> 
    </div>
    <div class="col-1"></div>
  </div>
  <br>
  <div class="row center">
          <button mat-raised-button color='primary' (click)="startQuiz()">Agree & Start Quiz</button>
  </div>
</div>