<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <!-- <h3 class="maroon">Quiz rules are as follows:</h3>
      <ul  class="maroon">
          <li>Every team will be asked to identify a personality.</li>
          <li>Three hints will be provided for every question.</li>
          <li>20 marks will be awarded for the correct answer after 1st.</li>
          <li>15 marks will be awarded for the correct answer after 2nd.</li>
          <li>15 marks will be awarded for the correct answer after 2nd.</li>
          <li>15 marks will be awarded for the correct answer after 2nd.</li>
          <li>10 marks will be awarded for the correct answer after 3rd.</li>
          <li>60 seconds will be given for each question.</li>
        </ul>  -->
      <h3 class="maroon"><b> QUIZ RULES:</b></h3>
      <ol class="maroon">
        <li>We are allowing the participant to play quiz for only one time. Please do not try to play for multiple
          times. </li>
        <li><b> DONOT REFRESH THE PAGE AT ANY POINT OF TIME DURING THE QUIZ.</b></li>
        <li>Each player will get 10 questions on various topics, which should be answered within 150 seconds (2.5
          Minutes).</li>
        <li>Before submitting your answer you can change the options. Once you Click on the submit you cannot change it
          again. </li>
        <li>If you answer 8 questions correctly you will be receiving the prize voucher for Rs.200/- </li>
        <li>If you answer all the 10 questions correctly you will be receiving the prize voucher for Rs.300/- </li>
        <li>The winners are requested to download the voucher and show that voucher at the allotted counter at the
          bookstall. </li>
        <li>The Winner can buy Books or other articles worth the Voucher amount. Winner cannot claim any cash for the
          said voucher amount.</li>
        <li>This voucher cannot be used as discount coupon or cannot be adjusted part of any other bill. </li>
        <li><b>This voucher is valid for only one day i.e on Sunday 06.12.2019 </b></li>
      </ol>
    </div>
    <div class="col-1"></div>
  </div>
  <br>
  <div class="row center">
    <button mat-raised-button color='primary' (click)="startQuiz()">Agree & Start Quiz</button>
  </div>
  <br>
  <br>
</div>