<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3 class="maroon"><b> QUIZ RULES:</b></h3>
      <ol class="maroon">
        <li>We are allowing the participant to play quiz for only one time. Please do not try to play for multiple
          times. </li>
        <li><b> DONOT REFRESH THE PAGE AT ANY POINT OF TIME DURING THE QUIZ.</b></li>
        <li>Each player will get 10 questions on various topics, which should be answered within 180 seconds (3
          Minutes).</li>
        <li>Before submitting your answer you can change the options. Once you Click on the submit you cannot change it
          again. </li>
        <li>If you answer 8 questions correctly you will be receiving the prize voucher for Rs.200/- </li>
        <li>If you answer all the 10 questions correctly you will be receiving the prize voucher for Rs.300/- </li>
        <li>The winners are requested to download the voucher and show that voucher at the allotted counter at the
          bookstall. </li>
        <li>The Winner can buy Books or other articles worth the Voucher amount. Winner cannot claim any cash for the
          said voucher amount.</li>
        <li>This voucher cannot be used as discount coupon or cannot be adjusted part of any other bill. </li>
        <li><b>This voucher is valid for only one day i.e on Sunday 06.12.2019 </b></li>
      </ol>
      <br>
      <h3 class="maroon"><b> Terms And Conditions:</b></h3>
      <ol class="maroon">
        <li>This is a timed quiz with 10 questions to be answered in 3 minutes (180 seconds).</li>
        <li>These questions will be randomly picked from the question bank regarding the Life and Teachings of Swami Vivekananda.</li>
        <li>Any individual can participate only once in the quiz.</li>
        <li>The mobile number and email address of the participant is mandatory and cannot be used more than once to participate in the quiz.</li>
        <li>Winners will be adjudged on the basis of maximum number of correct answers. The criteria of selecting the winners will be minimum of 8 correct answers in the stipulated time.</li>
        <li>The quiz will start as soon as you click the ‘Play Quiz” button.</li>
        <li>Winners will be awarded Cash prizes of Rs. 200/- for 8 and 9 correct answers, and Rs. 300/- for answering all 10 questions correctly.</li>
        <li>Ramakrishna Math, Banaglore is providing a Digital Certificate for all the participants and a Prize Winner’s Certificate for those who win a prize.</li>
        <li>The selected winners must have a bank account and the prize money will be directly credited to their account.</li>
        <li>Prize Winners will not be allowed to claim prize money from any of the Ramakrishna Math and Ramakrishna Mission centres across India.</li>
        <li>Prize winners should contact Ramakrishna Math, Bangalore directly for any further clarifications.</li>
      </ol>
    </div>
    <div class="col-1"></div>
  </div>
  <br>
  <div class="row center">
    <button mat-raised-button color='primary' (click)="startQuiz()">Agree & Start Quiz</button>
  </div>
  <br>
  <br>
</div>