
<h2 class="mat-h2 black-font"><b>Advise To Students: </b></h2>
<ol>
  <li>The students are advised to read the instructions in ‘How to Play’ tab before starting the Quiz.
    And you can also view the instructions through video.</li>
  <li>To complete the registration the mobile number and email address of the participant is
    mandatory. We advise the students to take the help of your parents or teachers.</li>
  <li>
    Winners will be adjudged on the basis of maximum number of correct answers. The criteria of
selecting the winners will be minimum of 8 correct answers in the stipulated time.
  </li>
  <li>
    The quiz will start as soon as you click the ‘Play Quiz” button.
  </li>  
  <li>
    Winners will be awarded Cash prizes of Rs. 200/- for 8 and 9 correct answers, and Rs. 300/- for
answering all 10 questions correctly.
  </li>
  <li>
    The successful students who have won the Prize money are required to enter the Bank Details.
Most of the students may not have the Bank account, so we advise such students to take the
help of your parents or teachers.
  </li>  

</ol>

