
<h2 class="mat-h2 black-font"><b>Advise To Students: </b></h2>
<ol>
  <li>The students are advised to read the <b>Terms And Conditions</b> in
    <b>‘How to Play’</b> tab before starting the Quiz. And can also view
    the instructions through video.</li>
  <li>To complete the registration the mobile number and email
    address of the participants are mandatory. We advise the
    students to take the help of their parents or teachers.</li>
  <li>
    Winners will be evaluated based on number of correct answers.
  </li>
  <li>
    Winners will be awarded Cash prizes of Rs. 200/- for 8 and 9
correct answers, and Rs. 300/- for answering all 10 questions
correctly.
  </li>  
  <li>
    The successful students who have won the Prize money are
required to enter the Bank Details. Most of the students may not
have the Bank account, so we advise such students to take the
help of their parents or teachers.
  </li>
  <li>
    The quiz will start as soon as you click the <b>‘Agree & Start Quiz’</b>
button.
  </li>  
  <li>Kindly do not Refresh the page or do not press back button at
    any point of time during the quiz.</li>
</ol>

