
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3 class="center">Please Register For Quiz Competetion</h3>
      <mat-card class="mat-elevation-z12">
        <form [formGroup]="userRegistrationForm" (ngSubmit)="createUser(userRegistrationForm)">

          <div class="container">
            <div class="row">
              <div class="col-12">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Your full name..." formControlName="user_name">
                    </mat-form-field>                  
              </div>
              <div class="col-3">
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Age..."  formControlName="user_age">
                    </mat-form-field> 
              </div>
              <div class="col-9">
                <br>
                  <mat-radio-group  formControlName="user_gender">
                    Gender: &nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="male">Male</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="female">Female</mat-radio-button>&nbsp;&nbsp;&nbsp;&nbsp;
                      <mat-radio-button value="others">Others</mat-radio-button>
                    </mat-radio-group>
              </div>
              <div class="col-12"  >
                  <mat-form-field class="full-width">
                      <input matInput placeholder="phone number..." type="tel" formControlName="user_mobile">
                    </mat-form-field>
              </div>
              <div class="col-12"  >
                  <mat-form-field class="full-width">
                      <input matInput placeholder="Email..." formControlName="user_email">
                    </mat-form-field> 
              </div>
            </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
                <button mat-raised-button type=submit color='primary' style="float: right">Save & Continue</button>
            </div>
            <br>
          </div>
        </form>
      </mat-card>
    </div>
    <div class="col-1"></div>
  </div>
</div>