<div class="row">
  <h3 class="center black-font" style="margin: 0.1rem !important">RAMAKRISHNA MATH</h3>
  <p class="center black-font">Bull Temple Road<br>Bangalore, Karnataka: 560 019, India<br></p>

  <mat-list role="list">
      <mat-list-item role="listitem">
          <h5 class="center black-font"> Website: <a class="center black-font" href="https://www.rkmathbangalore.org">www.rkmathbangalore.org</a> </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
          <h5 class="center black-font"> Office:  +91 80-2661 3149, +91 80-2667 1010 </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
          <h5 class="center black-font"> Book Stall:  +91 80-2661 6060, +91 80-2661 6161 </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
          <h5 class="center black-font"> Email:  bengaluru.bookstall@rkmm.org </h5>
      </mat-list-item>
      <mat-list-item role="listitem">
          <h5 class="center black-font"> TeleFax:	+91 80-2667 2020 </h5>
      </mat-list-item>
    </mat-list>
</div>