<section class="watch__video">
  <h3 class="mat-h3 center black-font">How To Play</h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/2Hr6C9Rn0pM" frameborder="0" allowfullscreen></iframe>
</section>

<div class="row">
    <button mat-raised-button color="primary" style="float: right; margin-left: 1rem;"  (click)="dialogref.close()" [routerLink]="['/user_registration']">Play Quiz</button>
    <button mat-raised-button color="warn" style="float: right" (click)="dialogref.close()">Close</button>
</div>