<div class="division">
  
<h2 class="mat-h2 black-font"><b> How To Play</b></h2>
<ol>
  <li>Click on <b>  “Play Quiz”</b>.</li>
  <li><b> NOTE: KINDLY DONOT REFRESH THE PAGE AT ANY POINT OF TIME DURING THE QUIZ OR DURING REGISTRATION.</b> <br>
    <b> WHILE USING MOBILE PLEASE DON’T SCROLL DOWN SWIFTLY AS IT WILL REFRESH THE PAGE.</b></li>
  <li>Enter all the required fields such as Name, Age, Gender, State, Mobile No & Email ID. Before saving the details kindly verify once & Click on <b> “Save & Continue”.</b></li>
  <li>Read the Quiz Rules properly & Click on <b> “Agree & Start Quiz”. </b></li>  
  <li>Select the correct answer & Click on <b>“Submit & next”.</b></li>
</ol>

<br>

<h2 class="mat-h2 black-font"><b> QUIZ RULES:</b></h2>
<ol>
  <li>We are allowing the participant to play quiz for only one time. Please do not try to play for multiple times. </li>
  <li><b> DONOT REFRESH THE PAGE AT ANY POINT OF TIME DURING THE QUIZ.</b></li>
  <li>Each player will get 10 questions on various topics, which should be answered within 150 seconds (2.5 Minutes).</li>
  <li>Before submitting your answer you can change the options. Once you Click on the submit you cannot change it again. </li>  
  <li>If you answer 8 questions correctly you will be receiving the prize voucher for Rs.200/- </li>
  <li>If you answer all the 10 questions correctly you will be receiving the prize voucher for Rs.300/- </li>
  <li>The winners are requested download the voucher and show that voucher at the allotted counter at the bookstall. </li>
  <li>The Winner can buy Books or other articles worth the Voucher amount. Winner cannot claim any cash for the said voucher amount.</li>
  <li>This voucher cannot be used as discount coupon or cannot be adjusted part of any other bill. </li>
  <li><b>This voucher is valid for only one day i.e on Sunday 06.12.2019 </b></li>
</ol>

</div>
<div class="row">
    <button mat-raised-button color="primary" style="float: right; margin-left: 1rem;" (click)="dialogref.close()" [routerLink]="['/user_registration']">Play Quiz</button>
    <button mat-raised-button color="warn" style="float: right" (click)="dialogref.close()">Close</button>
</div>