<div class="division">
  
<h2 class="mat-h2 black-font"><b> How To Play: </b></h2>
<ol>
  <li>Click on <b>  “Play Quiz”</b>.</li>
  <li><b> KINDLY DONOT REFRESH THE PAGE OR DONOT PRESS BACK BUTTON AT ANY POINT OF TIME DURING THE QUIZ OR DURING REGISTRATION.</b> <br>
    <b> WHILE USING MOBILE PLEASE DON’T SCROLL DOWN SWIFTLY AS IT WILL REFRESH THE PAGE.</b></li>
  <li>Enter all the required fields such as Name, Age, Gender, State, Mobile No. & Email ID. Before saving the details kindly verify once & Click on <b> “Save & Continue”.</b></li>
  <li>Read the Terms & Conditions properly before starting the quiz & Click on <b> “Agree & Start Quiz”. </b> </li>  
  <li>Select the correct answer & Click on <b>“Submit & next”.</b></li>
  <li>Before submitting each answer, you can change the options. Once you click
    on the <b>“Submit & next”</b> button you cannot go back and change it.</li>  
  <li>Winning participants must furnish their bank details upon which prize money will be credited to
    their account. The winners will also be provided with a Prize Winner’s Certificate which they can
    download.</li>  
    <li>
      Upon completion of the Quiz, those who have not answered the necessary
number of questions to win a prize can also download a <b>Certificate of
Participation.</b>
    </li>
</ol>

<br>

<h2 class="mat-h2 black-font"><b> Terms And Conditions:</b></h2>
<ol>
  <li>This is a timed quiz with 10 questions to be answered in 3 minutes (180 seconds).</li>
  <li>These questions will be randomly picked from the question bank regarding the Life and Teachings of Swami Vivekananda.</li>
  <li>Any individual can participate only once in the quiz.</li>
  <li>The mobile number and email address of the participant are mandatory and cannot be used more than once to participate in the quiz.</li>
  <!-- <li>Winners will be adjudged on the basis of maximum number of correct answers. The criteria of selecting the winners will be minimum of 8 correct answers in the stipulated time.</li> -->
  <!-- <li>The quiz will start as soon as you click the ‘Play Quiz” button.</li> -->
  <li>Winners will be awarded Cash prizes of Rs. 200/- for 8 and 9 correct answers, and Rs. 300/- for answering all 10 questions correctly.</li>
  <li>Ramakrishna Math, Bengaluru is providing a Digital Certificate for all the participants and a Prize Winner’s Certificate for those who win a prize.</li>
  <li>The selected winners must have a bank account and the prize money will be directly credited to their account.</li>
  <li> Bank details required for winners:
    <ul>
      <li>Account holder’s name</li>
      <li>Bank Name</li>
      <li>Account Number</li>
      <li>City</li>
      <li>Branch</li>
      <li>IFSC Code</li>
      <li>Mobile Number</li>
    </ul> 
  </li>
  <li>Prize Winners will not be allowed to claim prize money from any of the Ramakrishna Math and Ramakrishna Mission centres across India.</li>
  <li>Prize winners should contact Ramakrishna Math, Bengaluru directly for any further clarifications.</li>
  <li>Ramakrishna Math, Bengaluru has every right to cancel the Prize if any
    participant is involved in unfair and illegal practices.</li>
    <li>
      If same account number is used to claim the prize more than once,
Ramakrishna Math, Bengaluru has right to verify before crediting to their
account.
    </li>  
</ol>

</div>
<div class="row">
    <button mat-raised-button color="primary" style="float: right; margin-left: 1rem;" (click)="dialogref.close()" [routerLink]="['/user_registration']">Play Quiz</button>
    <button mat-raised-button color="warn" style="float: right" (click)="dialogref.close()">Close</button>
</div>