<h3 class="mat-h3 center black-font">How To Play</h3>
<mat-list role="list">
  <mat-list-item role="listitem">
    <p class="black-font">Step 1:<br>Step 1 description<br> </p>
  </mat-list-item>
  <br>
  <mat-list-item role="listitem">
    <p class="black-font">Step 1: <br>Step 1 description<br> </p>
  </mat-list-item>
  <br>
  <mat-list-item role="listitem">
    <p class="black-font">Step 1: <br>Step 1 description<br> </p>
  </mat-list-item>
  <br>
  <mat-list-item role="listitem">
    <p class="black-font">Step 1: <br>Step 1 description<br> </p>
  </mat-list-item>
  <br>
  <mat-list-item role="listitem">
    <p class="black-font">Step 1: <br>Step 1 description<br> </p>
  </mat-list-item>
  <br>
  <mat-list-item role="listitem">
    <p class="black-font">Step 1: <br>Step 1 description<br> </p>
  </mat-list-item>


</mat-list>

<div class="row">
    <button mat-raised-button color="primary" style="float: right; margin-left: 1rem;" (click)="dialogref.close()" [routerLink]="['/user_registration']">Play Quiz</button>
    <button mat-raised-button color="warn" style="float: right" (click)="dialogref.close()">Close</button>
</div>