// <!-- class="glow"  -->
 

.voucher {
    width: 22rem;
    height: 12rem;
}


.voucher_logo {
  width: 30%;
  height: auto;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e0a042, 0 0 40px #e0a042, 0 0 50px #e0a042, 0 0 60px #e0a042, 0 0 70px #e0a042;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff9800, 0 0 40px #ff9800, 0 0 50px #ff9800, 0 0 60px #ff9800, 0 0 70px #ff9800, 0 0 80px #ff9800;
    }
  }